<div ng-init="init()">
	<div class="show-for-medium-up" style="height:5px; background-color: rgba(0, 0, 0, .2)"></div>
	<div sticky id="headerMain"  class="fonttype-2" style="width: 100%; z-index: 990000; background-color: orange"> 
			
			<div class="show-for-medium-up">
				<div class="row">



					<div class="small-12 columns pull-right" style="font-size: 2em;">						
						<centered>
							<div class="small-2 columns">
								<img src="media/home/logo.png" class="" style="padding: 20px; max-width: 200px">
							</div>
							  
							<div class="small-10 columns"> 
								<br>
							    	<a style="margin-right: 10px" ng-click="scrollHere('section1')">Home</a>
							    	<a style="margin-right: 10px" ng-click="scrollHere('philosophy')">Philosophy</a>
							    	<a style="margin-right: 10px" ng-click="scrollHere('design')">Design </a>						     
									<a style="margin-right: 10px" ng-click="scrollHere('contact')">Contact </a>
							</div>								
						</centered>
					</div>
					

					
					
	
					
					
				</div>
					
			</div>
			
			
	</div>
</div>
